:root {
    --primary-color: #fff;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.logo img {
    width: 80px;
    height: 80px;

}    

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-rows: auto 100px auto;
    margin-right: 100vh;

}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 10px 205px;

}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
    text-align: center;
}

nav, section, article {
    margin: 16px;
    padding: 10px;

}

p {
  margin-bottom: 0;
  margin-top: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  background-color: var(--accent1-color);
  
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1 {
    position: absolute;
    top: 20px;
    width: 840px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}



.hero article img {
    float: right;
    width: 125px;
    height: auto;

}

.hero article {
  position: absolute;
  bottom: 25px;
  left: 15px ;
  color: #fff;
  background: var(--accent1-color);
  border: 1px solid #000;
  padding: 0.65px;
  box-shadow: 0 0 30px #111;
  opacity: 0.9;
}

section {
    margin-top: 20px;
}

.figures {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;

}

.figures h2 {
    flex-basis: 100%;
}

form {
    width: 400px;
    margin: 0;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 /0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    gap: 10px;
}

.container1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.map, .form-area {
    flex: 1;
    padding: 10px;
    
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 600;
    
}

label {
    float: left;
  
}





/* input[type="text"], input[type="email"], textarea, button {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box; 
}*/

/* input[type="radio"], input[type="checkbox"] {
    margin-right: 5px; 

}*/








footer {
    display: flex;
    justify-content: space-around;
    gap: 300px;
}

.footer p, .socialmedia {
    flex: 1;
    padding: 1px;

}
    



