*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 650px;
    margin: 0;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 /0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2em;
    color: #333;
    background: #fff
}

