* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, sans-serif;
    background-color: rgb(255, 255, 249);
    display: flex;
    flex-direction: column;

}

header, footer {
    padding: 20px 0;
    text-align: center;
}

main {
    margin: 0 auto;
    flex: 1;
}

form {
    max-width: 600px;
    border: 2px solid #9494947e;
    padding: 30px;
    border-radius: 5px;
    display: grid;
    gap: 5px;
}

input, textarea, select {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid #9494947e;
}

button {
    background-color: rgb(92, 131, 92);
    color: rgba(255, 255, 255, 0.897);
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}