main {
    max-width: 840px;

}

nav {
  background-color: #f2f2f2;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #222;
  padding: 10px 15px;
  display: block;
  
}

nav a:hover {
  background: #007bff;
  color: white;
  border-radius: 5px;
}
aside{
    max-width: 840px;
    margin: 0 auto;
    border: 1px solid rgb(0 0 0/ 10%);
    padding: 10px 15px;
    background-color: #333;
    color: #fff;

}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px;
    padding: 10px;
    box-shadow: 2px 2px 5px grey;
}

p {padding: 0;}
h1 { color: blueviolet}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}