* {
  margin: 0;
  padding: 0;
  box-sizing:0;

}

:root {
  --padding: 10px;
  --border: 1px solid rgb(0 0 0/ 10%);

}

.grid{
  display: grid;
  align-items: center;
}

main {
    max-width: 840px;
    margin: 10px;

}

nav {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #222;
  padding: 10px 15px;
  display: block;
  font-weight: 700;
  
  
}

nav a:hover {
  background: #007bff;
  color: white;
  border-radius: 5px;
}
aside{
    width: 20em;
    text-align: center;
    position: relative;
   /* margin: 0 auto;
   border: var(--border)/*1px solid rgb(0 0 0/ 10%);
    padding: var(--padding) 15px;
    background-color: #333;
    color: #fff; */

}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
  position: absolute;
  top: 16px;
  left: 150px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px;
    padding: 10px;
    box-shadow: 2px 2px 5px grey;
    float: right;
    margin: 0 auto;
}

p {padding: 0; clear: left}
h1 { color: blueviolet;
    border-bottom: 2px solid blueviolet;
    

}

header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0/ 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;

} 